<html>
<head>
    <style>
        .logout_btn {
            font-size: 15px;
            transition: ease-in all 0.5s;
            background-color: #f5b707;
            color: #fff;
            position: fixed;
            right: 20px;
            top: 10px;
            padding: 6px 13px;
        }

            .logout_btn:hover {
                background-color: #232323;
                color: #fff;
                transition: ease-in all 0.5s;
                border-radius: 26px;
            }

        .logo_text {
            color: #f5b707;
            font-size: 30px;
            font-weight: bold;
            margin-top: 5px
        }
    </style>
    <link rel="stylesheet" href="~/css/leaflet.css" />
    <script src="~/js/leaflet.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

</head>
<body>
    <div>
        <h1 class="logo_text"><a href="javascript:GoMainMenu()">RoboDel<a /></h1>
        <button class="logout_btn" type="button" onclick="Logout()">Logout</button>
        <hr>
    </div>
    <br>
    <button class="btn btn-success" type="button" style="float: right;" onclick="AddOrder()">Add Order</button>
    <br>

    <h1>Pending Orders</h1>

    <br>
    <table id="pendingOrdersTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th><b>Order ID</b></th>
                <th><b>Received At</b></th>
                <th><b>Estimated Pickup Time</b></th>
                <th><b>Ready for Pickup</b></th>
                <th><b>Status</b></th>
                <th><b>Restaurant</b></th>
                <th><b>Customer</b></th>
                <th><b>Parking</b></th>
                <th><b>Robot</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Order order in ViewBag.allPendingOrders)
            {
            <tr>
                <td><a href="javascript:GetOrderDetails('@order.ID.ToString()')" style="color: blue">@order.ID</a></td>
                <td>@order.DateTime</td>
                <td>@order.PickupTime</td>

                @if (@order.ReadyForPickup)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>@order.Status</td>
                <td><a href="javascript:GetRestaurantDetails('@order.Restaurant.Email')" style="color: blue">@order.Restaurant.Name</a></td>
                <td><a href="javascript:GetCustomerDetails('@order.Customer.ID.ToString()')" style="color: blue">@order.Customer.FirstName @order.Customer.LastName </a></td>
                @try
                {
                    if (@order.Latitude != 0 && @order.Longitude != 0)
                    {
                        <td>@order.Longitude / @order.Latitude</td>
                    }
                    else
                    {
                        <td><button type="button" class="open-AddParkingDialog btn btn-primary" data-id="@order.ID.ToString()" data-address="@order.Customer.Address" data-city="@order.Customer.City" data-state="@order.Customer.State" data-country="@order.Customer.Country" data-toggle="modal" data-target="#AddParkingDialog">Add Parking</button></td>
                    }
                }
                catch
                {
                    <td><button type="button" class="open-AddParkingDialog btn btn-primary" data-id="@order.ID.ToString()" data-address="@order.Customer.Address" data-city="@order.Customer.City" data-state="@order.Customer.State" data-country="@order.Customer.Country" data-toggle="modal" data-target="#AddParkingDialog">Add Parking</button></td>

                }

                @try
                {
                    if (@order.Latitude != 0 && @order.Longitude != 0)
                    {
                        <td><button type="button" class="open-AddRobotDialog btn btn-primary" data-toggle="modal" data-target="#AddRobotDialog">Assign to Robot</button></td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
                catch
                {
                    <td></td>

                }
            </tr>
            }
        <tbody>
    </table>
    <br>
    <h1>In Progress Orders</h1>

    <br>
    <table id="inProgressOrdersTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th><b>Order ID</b></th>
                <th><b>Received At</b></th>
                <th><b>Estimated Pickup Time</b></th>
                <th><b>Ready for Pickup</b></th>
                <th><b>Status</b></th>
                <th><b>Restaurant</b></th>
                <th><b>Customer</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Order order in ViewBag.allInProgressOrders)
            {
                <tr>
                    <td><a href="javascript:GetOrderDetails('@order.ID.ToString()')" style="color: blue">@order.ID</a></td>
                    <td>@order.DateTime</td>
                    <td>@order.PickupTime</td>

                    @if (@order.ReadyForPickup)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                    <td>@order.Status</td>
                    <td><a href="javascript:GetRestaurantDetails('@order.Restaurant.Email')" style="color: blue">@order.Restaurant.Name</a></td>
                    <td><a href="javascript:GetCustomerDetails('@order.Customer.ID.ToString()')" style="color: blue">@order.Customer.FirstName @order.Customer.LastName </a></td>
                </tr>
            }
        </tbody>
    </table>

    <br>

    <h1>Delivered Orders</h1>

    <br>
    <table id="deliveredOrdersTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th><b>Order ID</b></th>
                <th><b>Received At</b></th>
                <th><b>Estimated Pickup Time</b></th>
                <th><b>Ready for Pickup</b></th>
                <th><b>Status</b></th>
                <th><b>Restaurant</b></th>
                <th><b>Customer</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Order order in ViewBag.allDeliveredOrders)
            {
                <tr>
                    <td><a href="javascript:GetOrderDetails('@order.ID.ToString()')" style="color: blue">@order.ID</a></td>
                    <td>@order.DateTime</td>
                    <td>@order.PickupTime</td>

                    @if (@order.ReadyForPickup)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                    <td>@order.Status</td>
                    <td><a href="javascript:GetRestaurantDetails('@order.Restaurant.Email')" style="color: blue">@order.Restaurant.Name</a></td>
                    <td><a href="javascript:GetCustomerDetails('@order.Customer.ID.ToString()')" style="color: blue">@order.Customer.FirstName @order.Customer.LastName </a></td>
                </tr>
            }
        </tbody>
    </table>

    <br>
    <h1>Canceled Orders</h1>

    <br>
    <table id="canceledOrdersTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th><b>Order ID</b></th>
                <th><b>Received At</b></th>
                <th><b>Estimated Pickup Time</b></th>
                <th><b>Ready for Pickup</b></th>
                <th><b>Status</b></th>
                <th><b>Restaurant</b></th>
                <th><b>Customer</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Order order in ViewBag.allCanceledOrders)
            {
                <tr>
                    <td><a href="javascript:GetOrderDetails('@order.ID.ToString()')" style="color: blue">@order.ID</a></td>
                    <td>@order.DateTime</td>
                    <td>@order.PickupTime</td>

                    @if (@order.ReadyForPickup)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                    <td>@order.Status</td>
                    <td><a href="javascript:GetRestaurantDetails('@order.Restaurant.Email')" style="color: blue">@order.Restaurant.Name</a></td>
                    <td><a href="javascript:GetCustomerDetails('@order.Customer.ID.ToString()')" style="color: blue">@order.Customer.FirstName @order.Customer.LastName </a></td>
                </tr>
            }
        </tbody>
    </table>

    <input type="button" value="Test Maps" class="register_btn" onclick="testAPI()" style="width: 200px" />



    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="AddParkingDialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose Parking Location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-primary" onclick="CorrectMapSize()">Refresh Map</button>
                    <input type="text" name="choosenLatitude" id="choosenLatitude" value="" style="float: right;" />
                    <label for="choosenLatitude" style="float: right;">Latitude:</label>
                    <input type="text" name="choosenLongitude" id="choosenLongitude" value="" style="float: right; margin-right: 20px;" />
                    <label for="choosenLongitude" style="float: right;">Longitude:</label>
                    <div id="map" style="width: 100%; height: 400px"></div>
                    <label for="orderId">Order ID:</label>
                    <input type="text" id="orderId" name="orderId" disabled>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="AddCoordinates()">Save changes</button>
                    

                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

  
    <script>
        $(document).on("click", ".open-AddParkingDialog", function () {
            var orderId = $(this).data('id');
            $(".modal-body #orderId").val(orderId);

            var address = $(this).data('address');
            var city = $(this).data('city');
            var state = $(this).data('state');
            var country = $(this).data('country');
            
            if (state.length > 0) {
                stateFin = ',+' + state.replace(/\s/g, '+');
            }
            else {
                stateFin = '';
            }
            var urll = 'https://nominatim.openstreetmap.org/search?q=' + address.replace(/\s/g, '+') + ',+' + city.replace(/\s/g, ' +') + stateFin + ',+' + country.replace(/\s/g, '+') + '&format=json&polygon=1&addressdetails=1';
            fetch(urll)
                .then(result => result.json(urll))
                .then((output) => {
                    map.setView([output[0].lat, output[0].lon], 20);
                    marker = new L.marker([output[0].lat, output[0].lon], iconOptionsRed)
                        .bindPopup("Customer")
                        .addTo(map);
                    console.log(output[0].lat, output[0].lon);

                }).catch(err => console.error(err));

            setTimeout(() => {
                map.invalidateSize();
            }, "1000");
            
            
        });</script>
    <script>
        function CorrectMapSize() {
            map.invalidateSize();
        }
    </script>
    <script>$(document).ready(function () {
            $('#pendingOrdersTable').DataTable();
        });</script>
    <script>$(document).ready(function () {
            $('#deliveredOrdersTable').DataTable();
        });</script>
    <script>$(document).ready(function () {
            $('#inProgressOrdersTable').DataTable();
        });</script>
    <script>$(document).ready(function () {
            $('#canceledOrdersTable').DataTable();
        });</script>
   
    <script>
        let customIconGreen = {
            iconUrl: "https://drive.google.com/uc?export=view&id=1UzHM1VgWffMn06Lj4iSRSQzOlQSBWw3K",
            iconSize: [40, 40]
        }

        let myIconGreen = L.icon(customIconGreen);

        let iconOptionsGreen = {
            title: "Parking",
            draggable: true,
            icon: myIconGreen
        }
        let customIconRed = {
            iconUrl: "https://drive.google.com/uc?export=view&id=11bv7ohdrxLAmR_lOXQ_WFAQpQbRsOkG9",
            iconSize: [40, 40]
        }

        let myIconRed = L.icon(customIconRed);

        let iconOptionsRed = {
            title: "Address",
            draggable: false,
            icon: myIconRed
        }

        var map = L.map('map').setView([51.958, 9.141], 20);
        mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
        }).addTo(map);

        

        var theMarker = {};

        map.on('click', function (e) {
            lat = e.latlng.lat;
            lon = e.latlng.lng;

            console.log("You clicked the map at LAT: " + lat + " and LONG: " + lon);
            //Clear existing marker, 
            $(".modal-body #choosenLatitude").val(lat);
            $(".modal-body #choosenLongitude").val(lon);
            if (theMarker != undefined) {
                map.removeLayer(theMarker);
            };

            theMarker = L.marker([lat, lon], iconOptionsGreen).addTo(map);
        });
    </script>

    <script>
        function GetRestaurantDetails(restaurantEmail) {
        $.ajax({
            type: "POST",
            url: "/ViewRestaurant/GoToViewRestaurant",
            async: true,
            dataType: "json",
            data: { restaurantEmail: restaurantEmail },
            success: function (data) {
                if (data.errMsg != "") {
                    alert(String(data.errMsg));
                } else {
                    window.location.href = '/ViewRestaurant/Index';
                }
            },
            error: function () {
                return "error";
            }
        });
    }

    function GetCustomerDetails(customerID) {
        $.ajax({
            type: "POST",
            url: "/ViewCustomer/GoToViewCustomer",
            async: true,
            dataType: "json",
            data: { customerID: customerID },
            success: function (data) {
                if (data.errMsg != "") {
                    alert(String(data.errMsg));
                } else {
                    window.location.href = '/ViewCustomer/Index';
                }
            },
            error: function () {
                return "error";
            }
        });
    }

    function GetOrderDetails(orderID) {
        $.ajax({
            type: "POST",
            url: "/ViewOrder/GoToViewOrder",
            async: true,
            dataType: "json",
            data: { orderID: orderID },
            success: function (data) {
                if (data.errMsg != "") {
                    alert(String(data.errMsg));
                } else {
                    window.location.href = '/ViewOrder/Index';
                }
            },
            error: function () {
                return "error";
            }
        });
    }

    function AddCoordinates() {
        $.ajax({
            type: "POST",
            url: "/Order/AddCoordinates",
            async: true,
            dataType: "json",
            data: { orderId: $("#orderId").val(), longitude: $("#choosenLongitude").val(), latitude: $("#choosenLatitude").val() },
            success: function (data) {
                if (data.errMsg != "") {
                    alert(String(data.errMsg));
                } else {
                    window.location.href = '/Order/Index';
                }
            },
            error: function () {
                return "error";
            }
        });
    }
        
    function Logout() {
        $.ajax({
            type: "POST",
            url: "/Login/Logout",
            async: true,
            dataType: "json",
            data: {},
            success: function (data) {
                window.location.href = '/Login/Index';
            }
        });
    }

    function GoMainMenu() {
        $.ajax({
            type: "POST",
            url: "/MainMenu/GoMainMenu",
            async: true,
            dataType: "json",
            data: {},
            success: function (data) {
                if (data.errMsg != "") {
                    alert(String(data.errMsg));
                } else {
                    window.location.href = '/MainMenu/Index';
                }
            },
            error: function () {
                return "error";
            }
        });
    }
    function AddOrder() {
        $.ajax({
            type: "POST",
            url: "/AddOrder/GoToAddOrder",
            async: true,
            dataType: "json",
            data: {},
            success: function (data) {
                window.location.href = '/AddOrder/Index';
            }
        });
    }

    function testAPI() {


        @*const body = '{"coordinates":[[43.0588647918687, -89.40034963890459],[43.067906818785985, -89.41057272700718]]}';*@


        var request = new XMLHttpRequest();

        request.open('GET', 'https://api.openrouteservice.org/v2/directions/foot-walking?api_key=5b3ce3597851110001cf62488303e1e1bcb64deb91105af7032e30d4&start=-89.43481627077286,43.08957898010592&end=-89.40057767677146,43.05885104655657');

        request.setRequestHeader('Accept', 'application/json, application/geo+json, application/gpx+xml, img/png; charset=utf-8');

        request.onreadystatechange = function () {
            if (this.readyState === 4) {
                @*console.log('Status:', this.status);*@
                @*console.log('Headers:', this.getAllResponseHeaders());*@
                @*console.log('Body:', this.responseText);*@
                const bodyJson = JSON.parse(this.responseText);
                console.log('Distance in km:', bodyJson.features[0].properties.summary.distance/1000);
                console.log('Duration in minutes:', bodyJson.features[0].properties.summary.duration/60);
            }
        };

        request.send();
    }

    </script>

    @*<script src="~/js/jquery.min.js"></script>*@
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


</body>
</html>

