<style>
    .logout_btn {
        font-size: 15px;
        transition: ease-in all 0.5s;
        background-color: #f5b707;
        color: #fff;
        position: fixed;
        right: 20px;
        top: 10px;
        padding: 6px 13px;
    }

        .logout_btn:hover {
            background-color: #232323;
            color: #fff;
            transition: ease-in all 0.5s;
            border-radius: 26px;
        }

    .logo_text {
        color: #f5b707;
        font-size: 30px;
        font-weight: bold;
        margin-top: 5px
    }
</style>
<div>
    <h1 class="logo_text"><a href="javascript:GoMainMenu()">RoboDel<a /></h1>
    <button class="logout_btn" type="button" onclick="Logout()">Logout</button>
    <hr>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        <button class="send_btn" type="button" onclick="AddOrder()">Add Order</button>
    </div>
</div>

<br>

<h1>All Orders</h1>

<br>
<table class="table table-striped">
    <tr>
        <th><b>Order ID</b></th>
        <th><b>Received At</b></th>
        <th><b>Estimated Pickup Time</b></th>
        <th><b>Ready for Pickup</b></th>
        <th><b>Status</b></th>
        <th><b>Restaurant</b></th>
        <th><b>Customer</b></th>
    </tr>
    @foreach (Order order in ViewBag.allOrders)
    {
        <tr>
            <td><a href="javascript:GetOrderDetails('@order.ID.ToString()')" style="color: blue">@order.ID</a></td>
            <td>@order.DateTime</td>
            <td>@order.PickupTime</td>

            @if (@order.ReadyForPickup)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
            <td>@order.Status</td>
            <td><a href="javascript:GetRestaurantDetails('@order.Restaurant.Email')" style="color: blue">@order.Restaurant.Name</a></td>
            <td><a href="javascript:GetCustomerDetails('@order.Customer.ID.ToString()')" style="color: blue">@order.Customer.FirstName @order.Customer.LastName </a></td>
        </tr>
    }
</table>

<script>function GetRestaurantDetails(restaurantEmail) {
        $.ajax({
            type: "POST",
            url: "/ViewRestaurant/GoToViewRestaurant",
            async: true,
            dataType: "json",
            data: { restaurantEmail: restaurantEmail },
            success: function (data) {
                if (data.errMsg != "") {
                    alert(String(data.errMsg));
                } else {
                    window.location.href = '/ViewRestaurant/Index';
                }
            },
            error: function () {
                return "error";
            }
        });
    }

    function GetCustomerDetails(customerID) {
        $.ajax({
            type: "POST",
            url: "/ViewCustomer/GoToViewCustomer",
            async: true,
            dataType: "json",
            data: { customerID: customerID },
            success: function (data) {
                if (data.errMsg != "") {
                    alert(String(data.errMsg));
                } else {
                    window.location.href = '/ViewCustomer/Index';
                }
            },
            error: function () {
                return "error";
            }
        });
    }

    function GetOrderDetails(orderID) {
        $.ajax({
            type: "POST",
            url: "/ViewOrder/GoToViewOrder",
            async: true,
            dataType: "json",
            data: { orderID: orderID },
            success: function (data) {
                if (data.errMsg != "") {
                    alert(String(data.errMsg));
                } else {
                    window.location.href = '/ViewOrder/Index';
                }
            },
            error: function () {
                return "error";
            }
        });
    }
    function Logout() {
        $.ajax({
            type: "POST",
            url: "/Login/Logout",
            async: true,
            dataType: "json",
            data: {},
            success: function (data) {
                window.location.href = '/Login/Index';
            }
        });
    }

    function GoMainMenu() {
        $.ajax({
            type: "POST",
            url: "/MainMenu/GoMainMenu",
            async: true,
            dataType: "json",
            data: {},
            success: function (data) {
                if (data.errMsg != "") {
                    alert(String(data.errMsg));
                } else {
                    window.location.href = '/MainMenu/Index';
                }
            },
            error: function () {
                return "error";
            }
        });
    }
    function AddOrder() {
        $.ajax({
            type: "POST",
            url: "/AddOrder/GoToAddOrder",
            async: true,
            dataType: "json",
            data: {},
            success: function (data) {
                window.location.href = '/AddOrder/Index';
            }
        });
    }
        
    </script>

</script>
<!-- end contact -->
<!-- Javascript files-->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/jquery-3.0.0.min.js"></script>
<script src="~/js/plugin.js"></script>
<!-- sidebar -->
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>