


<html>
<head>
    <title>Robots</title>
    <link rel="stylesheet" href="~/css/leaflet.css" />
    <script src="~/js/leaflet.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <style>
        .logout_btn {
            font-size: 15px;
            transition: ease-in all 0.5s;
            background-color: #f5b707;
            color: #fff;
            position: fixed;
            right: 20px;
            top: 10px;
            padding: 6px 13px;
        }

            .logout_btn:hover {
                background-color: #232323;
                color: #fff;
                transition: ease-in all 0.5s;
                border-radius: 26px;
            }

        .logo_text {
            color: #f5b707;
            font-size: 30px;
            font-weight: bold;
            margin-top: 5px
        }

        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>
<body>

    <div>
        <h1 class="logo_text"><a href="javascript:GoMainMenu()">RoboDel<a /></h1>
        <button class="logout_btn" type="button" onclick="Logout()">Logout</button>
        <hr>
    </div>
    <br>

    <h1>All Robots</h1>

    <br>

    <div class="row">
        <div class="col-md-6">
            <table id="robotsTable" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th><b>Robot ID</b></th>
                        <th><b>Status</b></th>
                        <th><b>Battery</b></th>
                        <th><b>Location</b></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Robot robot in ViewBag.allRobots)
                    {
                        <tr>
                            <td>@robot.CourierID</td>
                            @if (@robot.StateOfRobot == "active")
                            {
                                <td style="color:green">@robot.StateOfRobot</td>
                            }
                            else
                            {
                                <td style="color:red">@robot.StateOfRobot</td>
                            }
                            <td>@robot.CurrentRobotStatistics.Battery %</td>
                            <td>@robot.City @robot.State @robot.Country</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div id="map" style="width: 100%; height: 580px"></div>
        </div>
    </div>

    <script>$(document).ready(function () {
            $('#robotsTable').DataTable();
        });</script>
    <script>
        let customIconWhite = {
        iconUrl: "https://drive.google.com/uc?export=view&id=1EziGBt6GwQXZW19tvbyzeusY3ubbRiyd",
            iconSize: [50, 40]
        }
        let customIconRed = {
            iconUrl: "https://drive.google.com/uc?export=view&id=1KSi-1T82_GLB7OGbz0ZPQpdNmwweT3Pz",
            iconSize: [50, 40]
        }
        let customIconOrange = {
            iconUrl: "https://drive.google.com/uc?export=view&id=1EI2fAcbH8yqSgAH-iD5tAI_b0FAtusl7",
            iconSize: [50, 40]
        }
        let myIconWhite = L.icon(customIconWhite);
        let myIconRed = L.icon(customIconRed);
        let myIconOrange = L.icon(customIconOrange);

        let iconOptionsWhite = {
            title: "Robot",
            draggable: false,
            icon: myIconWhite
        }
        let iconOptionsRed = {
            title: "Robot",
            draggable: false,
            icon: myIconRed
        }
        let iconOptionsOrange = {
            title: "Robot",
            draggable: false,
            icon: myIconOrange
        }
        var sourcearray = @Json.Serialize(@ViewBag.allRobots);
        var count = 0;
        var sum_lon = 0;
        var sum_lat = 0;
        for (var i = 0; i < sourcearray.length; i++) {
            var robot = sourcearray[i];
            if (robot.currentRobotStatistics.longitude > 0 || robot.currentRobotStatistics.longitude < 0) {
                sum_lon = sum_lon + robot.currentRobotStatistics.longitude;
                sum_lat = sum_lat + robot.currentRobotStatistics.latitude;
                count = count + 1;
            }
        }

        var map = L.map('map').setView([sum_lon/count, sum_lat/count], 15);

        mapLink =
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
        }).addTo(map);

        var sourcearray = @Json.Serialize(@ViewBag.allRobots);
        for (var i = 0; i < sourcearray.length; i++) {
            var robot = sourcearray[i];
            if (robot.currentRobotStatistics.battery <=10) {
                marker = new L.marker([robot.currentRobotStatistics.longitude, robot.currentRobotStatistics.latitude], iconOptionsRed)
                    .bindPopup("Robot " + robot.courierID + "<br>" + "Battery: " + robot.currentRobotStatistics.battery + "%" + "<br>" + "Speed: " + robot.currentRobotStatistics.speed + "km/h")
                    .addTo(map);
            } else if (robot.currentRobotStatistics.battery <= 30) {
                marker = new L.marker([robot.currentRobotStatistics.longitude, robot.currentRobotStatistics.latitude], iconOptionsOrange)
                    .bindPopup("Robot " + robot.courierID + "<br>" + "Battery: " + robot.currentRobotStatistics.battery + "%" + "<br>" + "Speed: " + robot.currentRobotStatistics.speed + "km/h")
                    .addTo(map);
            } else {
                marker = new L.marker([robot.currentRobotStatistics.longitude, robot.currentRobotStatistics.latitude], iconOptionsWhite)
                    .bindPopup("Robot " + robot.courierID + "<br>" + "Battery: " + robot.currentRobotStatistics.battery + "%" + "<br>" + "Speed: " + robot.currentRobotStatistics.speed + "km/h")
                    .addTo(map);
            }

        }
    </script>





    <script>function Logout() {
            $.ajax({
                type: "POST",
                url: "/Login/Logout",
                async: true,
                dataType: "json",
                data: {},
                success: function (data) {
                    window.location.href = '/Login/Index';
                }
            });
        }

        function GoMainMenu() {
            $.ajax({
                type: "POST",
                url: "/MainMenu/GoMainMenu",
                async: true,
                dataType: "json",
                data: {},
                success: function (data) {
                    if (data.errMsg != "") {
                        alert(String(data.errMsg));
                    } else {
                        window.location.href = '/MainMenu/Index';
                    }
                },
                error: function () {
                    return "error";
                }
            });
        }</script>

    <script src="~/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>